---
- name: "08. SSL HTTPS"
  hosts: proxy-tfg
  become: yes
  tasks:
    - name: "Asegurar que el directorio SSL existe"
      ansible.builtin.file:
        path: /etc/nginx/ssl
        state: directory
        mode: '0755'

    - name: "Generar Certificado"
      ansible.builtin.shell: |
        openssl req -x509 -nodes -days 365 -newkey rsa:2048 \
        -keyout /etc/nginx/ssl/tfg.key \
        -out /etc/nginx/ssl/tfg.crt \
        -subj "/C=ES/ST=Madrid/L=Madrid/O=TFG/OU={{ autor_nombre }}/CN={{ proxy_ip }}"

    - name: "Configurar Nginx con variables"
      ansible.builtin.copy:
        dest: /etc/nginx/sites-available/default
        content: |
          server {
              listen 80;
              server_name _;
              return 301 https://$host$request_uri;
          }
          server {
              listen 443 ssl;
              server_name _;
              ssl_certificate /etc/nginx/ssl/tfg.crt;
              ssl_certificate_key /etc/nginx/ssl/tfg.key;
              location / {
                  proxy_pass http://{{ webapp_ip }}:8000;
                  proxy_set_header Host $host;
                  proxy_set_header X-Real-IP $remote_addr;
                  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                  proxy_set_header X-Forwarded-Proto $scheme;
              }
          }
      notify: Reiniciar Nginx

  handlers:
    - name: Reiniciar Nginx
      ansible.builtin.service:
        name: nginx
        state: restarted